<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ImageUrl</key>
		<string>1</string>
		<key>Text</key>
		<string>图书教材</string>
		<key>DetailText</key>
		<string>还在为书本发愁么</string>
	</dict>
	<dict>
		<key>Text</key>
		<string>校园代步</string>
		<key>ImageUrl</key>
		<string>2</string>
		<key>DetailText</key>
		<string>拥有属于你的坐骑</string>
	</dict>
	<dict>
		<key>ImageUrl</key>
		<string>3</string>
		<key>Text</key>
		<string>数码电子</string>
		<key>DetailText</key>
		<string>想要电子产品</string>
	</dict>
	<dict>
		<key>ImageUrl</key>
		<string>4</string>
		<key>Text</key>
		<string>寝室用品</string>
		<key>DetailText</key>
		<string>大功率，你懂得</string>
	</dict>
	<dict>
		<key>DetailText</key>
		<string>只想租，不想买</string>
		<key>ImageUrl</key>
		<string>5</string>
		<key>Text</key>
		<string>租赁</string>
	</dict>
	<dict>
		<key>ImageUrl</key>
		<string>6</string>
		<key>Text</key>
		<string>休闲娱乐</string>
		<key>DetailText</key>
		<string>淘点好玩的东西</string>
	</dict>
	<dict>
		<key>ImageUrl</key>
		<string>7</string>
		<key>Text</key>
		<string>衣物鞋帽</string>
		<key>DetailText</key>
		<string>这里有衣服，鞋帽</string>
	</dict>
	<dict>
		<key>ImageUrl</key>
		<string>8</string>
		<key>Text</key>
		<string>运动健身</string>
		<key>DetailText</key>
		<string>生命在于运动</string>
	</dict>
	<dict>
		<key>ImageUrl</key>
		<string>9</string>
		<key>Text</key>
		<string>其他宝贝</string>
		<key>DetailText</key>
		<string>总有一个适合你</string>
	</dict>
</array>
</plist>
