<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>西南财经大学</string>
	<string>北京交通大学</string>
	<string>中国农业大学</string>
	<string>北京林业大学</string>
	<string>中国矿业大学</string>
	<string>华北电力大学</string>
	<string>北京外国语大学</string>
	<string>北京语言大学</string>
	<string>北京大学</string>
	<string>中国人民大学</string>
	<string>北京科技大学</string>
	<string>清华大学</string>
</array>
</plist>
